<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:installLocation="auto">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="org.openintents.safe.ACCESS_SERVICE" />
  <uses-permission android:name="org.openintents.safe.ACCESS_INTENTS" />
  <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->s
  
  <!-- Needed to check when the network connection changes -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  
  <application android:name="org.lindev.androkom.App"
                 android:icon="@drawable/icon"
                 android:label="@string/app_name"
                 android:theme="@style/Theme.Androkom">
                 
    	<!--  List of conferences with unread texts -->
        <activity android:name=".ConferenceList"
                  android:label="@string/conference_list"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <!--  List of unread texts in current conference -->
        <activity android:name=".ConferenceTextList"
                  android:label="@string/conference_text_list"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <!--  A single conference -->
         <activity android:name=".Conference"
                   android:label="@string/conference"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
         <!--  Create a KOM message -->
        
         <!--  Create a KOM message -->
        
         <!--  Create a KOM IM -->
        
         <!--  Who Is On -->
         <activity android:name=".WhoIsOn"
                   android:label="@string/seewhoison_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

         <!--  Endast -->
         <activity android:name=".Endast"
                   android:label="@string/endast_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  See again dialog -->
         <activity android:name=".SeeAgainTexts"
                   android:label="@string/seeagaintexts_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  See again text list -->
         <activity android:name=".SeeAgainTextList"
                   android:label="@string/seeagaintextlist_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  Lista markerade -->
         <activity android:name=".MarkedTextList"
                   android:label="@string/showmarkedtexts_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  Join Conference -->
         <activity android:name=".JoinConference"
                   android:label="@string/joinconference_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  Add Recipient -->
         <activity android:name=".AddNewRecipientToText"
                   android:label="@string/add_recipient_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  Add Comment -->
         <activity android:name=".AddNewCommentToText"
                   android:label="@string/add_comment_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
             <!--  MessageLog -->
        <activity android:name=".gui.MessageLog"
                   android:label="@string/message_log_label"
                   android:launchMode="singleTop"
                   android:configChanges="orientation|keyboardHidden|screenSize">
         </activity>
        
         <!--  Login dialog -->
        <activity android:name=".Login"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateVisible|adjustResize"
                  android:launchMode="singleTop"
                  android:exported="true"
                  android:configChanges="orientation|keyboardHidden|screenSize">

           <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>

           <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
           </intent-filter>

           <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="imto" android:host="lyskom" />
           </intent-filter>
        </activity>

        <activity android:name=".Prefs"
                  android:label="@string/settings_title"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".ConferencePrefs"
                  android:label="@string/settings_title"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <!--  Connection to the KOM server -->
        <service android:name=".KomServer"
        		 android:label="@string/app_name">        	
        </service>
        <activity android:name=".gui.IMConversationList"
                  android:label="@string/im_conversations_list_label"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".gui.IMConversation"
                  android:launchMode="singleTop"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        <activity android:name=".gui.TextCreator"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
        
        <activity android:name=".gui.ImgTextCreator"
                  android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>
</application>

</manifest>
